body{
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
}
.wrraper {
}
.container {
	max-width: 1240px;
	margin: 0 auto;
}
.information {
	display: flex;
	justify-content:space-between;
	align-items:flex-end;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #495057;
	transition: all 0.3s;
	height: 100px;
}
.information__margin-bottom{
	margin-bottom: 40px;
}
.information__wrapper-column {
	display: flex;
	gap: 20px;
}
.iformation__categories {
	transition: all 0.3s;
}
.iformation__categories:hover{
	color: rgba(73, 80, 87, 0.5);
	transition: all 0.3s;
}
.iformation__column {
	transition: all 0.3s;
}
.iformation__column:hover{
	color: rgba(73, 80, 87, 0.5);
	transition: all 0.3s;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	row-gap: 45px;
}
.cards__img:hover{
transform: scale(105%);
transition: all 0.3s;
}
.cards_cards-flex{
	margin-bottom: 60px;
}
.cards__column {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33%;
	padding: 0px 15px;
	
}
.cards__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	max-width: 393px;
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
}

.cards__img {
	margin-bottom: 30px;
	transition: all 0.3s;
}
.cards__text-data {
	margin-bottom: 15px;
}
.cards__title {
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;
	
}
.cards__text {
	margin-bottom: 31px;
	flex-grow: 1;
}
.cards__sign {
	border-top: 1px solid #E5E5E5;
	width: 100%;
	padding-top: 15px;
}
.footer__button {
	display: flex;
	padding-bottom: 100px;
}
.footer__black-btn {
	font-weight: 500;
font-size: 12px;
line-height: 25px;
color: #F8F9FA;
margin: 0 auto;
	background: #212529;
	padding: 8px 50px;
	border-radius: 3px;
	transition: all 0.3s;
	
}
.footer__black-btn:hover{
	background: #3c434b;
	color: #0c0c0c;
	transition: all 0.3s;
}